.container {
    display: flex;
    margin: 2px;
    padding: 5px;
    width: 800px;
}

.team {
    border: 1px solid black;
    margin: 10px;
    display: flex;
    flex-direction: row;
    width: 200px;
}

.team_cont {
    margin: auto;
}

.score_cont {
    margin: auto;
    padding: 10px;
    font-size: 21pt;
}